<div class="px-10 py-5 bg-white rounded-2xl">
    <div class="grid sm:grid-cols-1 gap-4 sm:my-5 lg:grid-cols-2">
        <ng-container>
          <div class="lg:my-5 grow basis-0 justify-center">
            <div class="text-gray-600 text-sm font-medium font-['Lexend'] lg:py-4">Department</div>
            <select class="w-full" (change)="showDepartmentType = true">
              <option>See All</option>
              <option>D1</option>
              <option>D2</option>
              <option>D3</option>
              <option>D4</option>
            </select>
          </div>
        </ng-container>
  
        <div class="basis-1/2 mr-5 w-full" *ngIf="showDepartmentType">
          <ng-container>
            <div class="lg:my-5 grow basis-0 justify-center">
              <div class="text-gray-600 text-sm font-medium font-['Lexend'] lg:py-4">Department Type</div>
              <select class="w-full">
                <option>See All</option>
                <option>Youth Department</option>
                <option>Men & Women Department</option>
                <option>Other</option>
              </select>
            </div>
          </ng-container>
        </div>
    </div>
  
    <div class="flex flex-row justify-stretch gap-7 w-full my-5">
      <!-- <div class="basis-1/2 mr-5 w-full"> -->
        <div class="flex justify-stretch gap-7">
          <button type="button" class="relative inline-flex h-6 w-11 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent bg-gray-200 transition-colors duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2" role="switch">
            <span class="sr-only">Use setting</span>
            <span aria-hidden="true" class="pointer-events-none inline-block h-5 w-5 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out"></span>
          </button>
        <!-- </div> -->
      </div>
    </div>
    
    <div class="flex flex-row justify-end">
      <div class="basis-1/6">
        <button type="button" class="rounded-full w-full bg-indigo-600 px-4 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">OK</button>
      </div>
    </div>
  </div>
  