<!-- <div *ngIf="mobileQuery.matches; else desktop"> -->
  <!-- Mobile View -->
  <!-- <div class="mb-5 page-divider label">
    <span
      class="text-black lg:text-2xl sm:text-lg font-bold font-['Lexend'] leading-10 tracking-wide mt-5"
      style="margin-bottom: 20px"
    >
      {{ data.label }}
    </span>
  </div>

  <div
    class="mobile_container mat-elevation-z3"
    [style.background-color]="data.backgroundColor ?? 'white'"
    [style.color]="data.color ?? 'inherit'"
  >
    <button
      mat-icon-button
      class="settings-button"
      (click)="showOptions.set(true)"
      [style.--mdc-icon-button-icon-color]="data.color ?? 'inherit'"
    >
      <mat-icon>settings</mat-icon>
    </button>
    <ng-container [ngComponentOutlet]="data.content"></ng-container>
    <div *ngIf="showOptions()">
      <app-widget-options
        [data]="data"
        [store]="store"
        [(showOptions)]="showOptions"
      ></app-widget-options>
    </div>
  </div>
</div> -->

<!-- Desktop View -->
<!-- <ng-template #desktop> -->
  <div class="flex flex-row mb-5 page-divider label">
    <span
      class="text-black lg:text-2xl sm:text-lg font-bold font-['Lexend'] leading-10 tracking-wide mt-5"
      style="margin-bottom: 20px"
    >
      {{ data.label }}
    </span>
  </div>

  <div
    class="container mat-elevation-z3"
    [ngClass]="{ 'filter-container': data.label === 'Filter' }"
    [style.background-color]="data.backgroundColor ?? 'white'"
    [style.color]="data.color ?? 'inherit'"
    style="padding-bottom: 0px;"
  >
    <button
      mat-icon-button
      class="settings-button"
      (click)="showOptions.set(true)"
      [style.--mdc-icon-button-icon-color]="data.color ?? 'inherit'"
    >
      <mat-icon>settings</mat-icon>
    </button>
    <ng-container [ngComponentOutlet]="data.content"></ng-container>
    <div *ngIf="showOptions()">
      <app-widget-options
        [data]="data"
        [store]="store"
        [(showOptions)]="showOptions"
      ></app-widget-options>
    </div>
  </div>
<!-- </ng-template> -->
