<div
  class="stat-box basis-1/2 w-full mr-5 only:px-2 pt-3 pb-5 bg-white rounded-2xl justify-start items-start flex"
>
  <!-- New Picking -->
  <div
    class="Frame15 grow shrink basis-1/3 self-stretch border-r-2 border-zinc-100 flex-col justify-center items-center flex"
  >
    <div
      class="Frame13 self-stretch flex justify-center items-center py-3"
    >
      <div
        class="NewPicking text-neutral-400 text-sm font-medium font-['Lexend']"
      >
        Finding
      </div>
    </div>
    <div
      class="Frame14 self-stretch flex justify-center items-center py-3"
    >
      <div class="text-gray-600 text-xl font-medium font-['Lexend']">
        {{ 2 }}
      </div>
    </div>
  </div>

  <!-- Old Picking -->
  <div
    class="Frame16 grow shrink basis-1/3 self-stretch border-r-2 border-zinc-100 flex-col justify-center items-center flex"
  >
    <div
      class="Frame13 self-stretch flex justify-center items-center py-3"
    >
      <div
        class="OldPicking text-neutral-400 text-sm font-medium font-['Lexend']"
      >
        Meeting
      </div>
    </div>
    <div
      class="Frame14 self-stretch flex justify-center items-center py-3"
    >
      <div class="text-gray-600 text-xl font-medium font-['Lexend']">
        {{ 1 }}
      </div>
    </div>
  </div>

  <!-- Active BB -->
  <div
    class="Frame17 grow shrink basis-1/3 self-stretch flex-col justify-center items-center flex"
  >
    <div
      class="Frame13 self-stretch flex justify-center items-center py-3"
    >
      <div
        class="ActiveBb text-neutral-400 text-sm font-medium font-['Lexend']"
      >
        Picking
      </div>
    </div>
    <div
      class="Frame14 self-stretch flex justify-center items-center py-3"
    >
      <div class="text-gray-600 text-xl font-medium font-['Lexend']">
        {{ 2 }}
      </div>
    </div>
  </div>
</div>
