@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.body {
  background-color: #0c0b0b;
  color: #0c0b0b;
}


.main-content{
  background-color: #edeef3;
  overflow: auto;
}

.main-content{
  .page-divider {
    border-top: 1px #BEBEBE solid
  }
}

@media screen and (max-width: 700px) {
  :host ::ng-deep .mdc-tab {
    padding:0 15px !important;
  }
}

.top-right {
  position: absolute;
  top: 5px;
  right: 5px;
}
.dashboard-widget {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 150px;
  gap: 16px;
  padding: 30px;
  margin-bottom: 100%;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.widget-container {
  display: flex;
  flex-direction: column; /* Stacks items vertically */
  align-items: center; /* Centers items horizontally */
  margin-bottom: 16px; /* Add spacing between widgets */
}

h3 {
  margin: 0;
  padding-bottom: 8px; /* Optional: Space between the label and the widget */
}
